.block-title{
    margin-left: 100px;
    margin-right: 100px;
    background: cyan;
}
.header.title{
    background: red;
}
.author{
    float: left;
}
.date{
    float: right;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}

.title{
    background-color: #0078d2;
    height: 35px;
    border-radius: 70;
}
.your-news{
    background-color: #ddd;
    height: 35px;
}
.create-news{
    background-color: #ddd;
    height: 35px;
}
.full-news{
    background-color: #ddd;
}
  .playerOne {
    float: left;
  }
  .playerTwo {
    float: right;
  }